<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.zczczy.leo.mybaseapplication">

    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:name=".MyApplication_"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${app_name}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">

        <meta-data
            android:name="TEST_CHANNEL"
            android:value="${TEST_CHANNEL_VALUE}"/>

        <activity
            android:name=".activities.TestActivity_"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity android:name=".activities.TestJsBridgeActivity_">


        </activity>

    </application>

</manifest>
